<include file="./Application/Home/View/Public/header.html" />
<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
		<div class="span9">
            <span>专业服务、质量过硬、客户第一</span>
            <p>简意时代文化传媒（北京）有限公司是一家集策划、拍摄、制作、包装于一体的影视制作公司。公司拥有先进的设备和专业的技术团队。不断的创新，进取，为国内外诸多大型企业制作精良的宣传视频。</p>
        </div>
        <a href="http://sc.chinaz.com/moban/" class="btn-buy hover-effect">立即咨询</a>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">	
	<!-- Service Blocks -->
	<div class="row-fluid">
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-film"></i>
    			<div class="desc">
    				<h4>专注目标</h4>
                    <p>简意传媒团队均来自国内领先的媒体企业，核心骨干具有新浪、搜狐、CSDN等视频制作与拍摄经验。我们是一群专注与本业的年轻人，坚信只有专注才能创造不朽价值，只有专业才能提供上乘服务。</p>
    			</div>
    		</div>	
    	</div>
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-cog"></i>
    			<div class="desc">
    				<h4>质量过硬</h4>
                    <p>从视频的拍摄、剪辑到出片我们始终追求高质量服务，细节是我们关注的G点，每一段视频都进过反复考虑，确保最后出片达到高品质。</p>
    			</div>
    		</div>	
    	</div>
    	<div class="span4">
    		<div class="service clearfix">
                <i class="icon-user"></i>
    			<div class="desc">
    				<h4>客户第一</h4>
                    <p>简意传媒坚信只有让客户满意的作品才是好作品。在每段视频的制作中我们会充分尊重客户的需求，在每一次合作者让客户像度假一样愉快体验使我们追求的目标。</p>
    			</div>
    		</div>	
    	</div>			    
	</div><!--/row-fluid-->
	<!-- //End Service Blokcs -->

	<!-- Recent Works -->
	<div class="headline"><h3>经典案例</h3></div>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="__PUBLIC__/img/carousel/12.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">read more +</a>					
                </div>
                <h3><a class="hover-effect" href="#">万达企业宣传片</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="__PUBLIC__/img/carousel/13.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">read more +</a>					
                </div>
                <h3><a class="hover-effect" href="#">珠海城市宣传片</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="__PUBLIC__/img/carousel/19.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">read more +</a>					
                </div>
                <h3><a class="hover-effect" href="#">海德商用企业宣传片</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style thumbnail-kenburn">
            	<div class="thumbnail-img">
                    <div class="overflow-hidden"><img src="__PUBLIC__/img/carousel/20.jpg" alt="" /></div>
                    <a class="btn-more hover-effect" href="#">read more +</a>					
                </div>
                <h3><a class="hover-effect" href="#">中信银行企业宣传片</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
            </div>
        </li>
    </ul><!--/thumbnails-->
	<!-- //End Recent Works -->
    
	<!-- Information Blokcs -->
	<div class="row-fluid margin-bottom-20">
    	<!-- Who We Are -->
		<div class="span8">
			<div class="headline"><h3>业务范围</h3></div>
			<p><img class="pull-left lft-img-margin img-width-200" src="__PUBLIC__/img/carousel/2.jpg" alt="" />Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>	
            <ul class="unstyled">
            	<li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
            	<li><i class="icon-ok color-green"></i> Corporate and Creative</li>
            	<li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
            	<li><i class="icon-ok color-green"></i> Corporate and Creative</li>
            </ul><br />

            <blockquote class="hero-unify">
                <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
                <small>CEO, Jack Bour</small>
            </blockquote>
        </div><!--/span8-->        

        <!-- Latest Shots -->
        <div class="span4">
			<div class="headline"><h3>Latest Shots</h3></div>
			<div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="__PUBLIC__/img/carousel/5.jpg" alt="" />
                    <div class="carousel-caption">
                      <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="__PUBLIC__/img/carousel/4.jpg" alt="" />
                    <div class="carousel-caption">
                      <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="__PUBLIC__/img/carousel/3.jpg" alt="" />
                    <div class="carousel-caption">
                      <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
                    </div>
                  </div>
                </div>
                
                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
			</div>
        </div><!--/span4-->
	</div><!--/row-fluid-->	
	<!-- //End Information Blokcs -->

	<!-- Our Clients -->
	<div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h3>Our Clients</h3></div>	
		<ul class="slides">
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/hp_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/hp.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/igneus_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/igneus.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/vadafone_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/vadafone.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/walmart_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/walmart.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/shell_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/natural_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/aztec_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/aztec.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/gamescast_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/cisco_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/cisco.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/everyday_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/cocacola_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/spinworkx_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/shell_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/natural_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/gamescast_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/everyday_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
			<li>
                <a href="#">
                    <img src="__PUBLIC__/img/clients/spinworkx_grey.png" alt="" /> 
                    <img src="__PUBLIC__/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
		</ul>
	</div><!--/flexslider-->
	<!-- //End Our Clients -->
</div><!--/container-->		
<!-- End Content Part -->
<include file="./Application/Home/View/Public/footer.html" />
